.post-list {
  ul {
    padding-left: 0;
  }
  li {
    list-style-type: none;
  }
}

.post-meta {
  font-size: 80%;
  font-weight: 500;
  color: #bbb;
}

.post-link {
    font-size: 80%;
    font-weight: 500;
}

.post-detail-title {
  font-size: 140%;
  font-weight: 500;
}

.post-detail-date {
  font-size: 80%;
  font-weight: 400;
  color: #999;
}

.post-detail-content {
}
