.headshot {
  max-height: 150px;
  margin-top: 5px;
}

.contact-headline {
  text-align: center;
  font-size: 200%;
  font-weight: 600;
}

.contact-subtitle {
  margin-top: 0;
  text-align: center;
  font-size: 100%;
}

.contact-links {
  margin-top: 5px;
  text-align: center;
  font-size: 80%;
}
