.header-table {
    display: table;
    width: 100%;
    margin: auto;
    margin-top: 0;
    margin-bottom: 0;
    padding: 0%;
    box-shadow: 0px 0px 10px $service-table-shadow-color;
}

.header-table-cell {
  display: table-cell;
  position: relative;
  background-color: $header-background-color;
  padding: 1%;

  .big {
    font-size:   160%;
    font-weight: bold;
  }

  .small {
    font-size:    90%;
    color:        grey;
  }

}

.nav-table-cell {
  padding: 1%;
  display: table-cell;
  text-align: center;
  vertical-align: middle;
  //padding-left: 10%;
  //padding-right: auto;
  width: 75%;
  background-color: $header-background-color;
  font-size:   140%;
}
