.table-row {
    display: table-row;
}

.service-table {
    display: table;
    width: 86%;
    margin: auto;
    margin-top: 2%;
    margin-bottom: 2%;
    border-spacing: 15px 0;
}

.service-table-cell {
  * {
    margin:0; padding: 0
  };
  h3 {
		background-color: $service-table-header-background-color;
    color: $service-table-header-color;
		padding: 5%;
	}

  ul {
    list-style-type: none;
  }

  li {
    font: 200 20px/1.5 $font-family;
    border-bottom: 1px solid $service-sections-list-separator-color;
    padding: 4%;
  }

  li:last-child {
    border: none;
  }

  li a {
    text-decoration: none;
    display: block;
    width: 100%;
  }

  box-shadow: 0px 0px 10px $service-table-shadow-color;
  display: table-cell;
  position: relative;
  text-align: center;
  width: 25%; // HACK: because we have 4 service categories
}
