$font-family: 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;

$site-text-color:            #404040;
$site-background-color: #fff;
$list-entry-color:  #site-text-color;

$header-background-color: #F5F5F5;
$header-color: #404040;

$link-color:        #505050;
$link-hover-color: #0085a1;
$lang-link-color:       #000;

$service-table-shadow-color: #424242;
$service-sections-list-separator-color: #B3B9C4;
$service-table-header-color: #ffffff;
$service-table-header-background-color: #5cb85c;
$service-table-entry-background-color: #eee;

$fancy-list-alternate-background-color: #eee;

$psst-color: #cecece;
$psst-font-size: 80%;

$breadcrumb-separator:          "";
$breadcrumb-padding-vertical:   4px;
//$breadcrumb-bg: $site-background-color;
