---
###
# note: will result in an all-in-one-file stylesheet e.g. style.css
#   in _config.yml add:
#     sass:
#       sass_dir: css
#       style:    expanded
---

@import 'settings';
@import 'footer';
@import 'service-grid';
@import "bootstrap";

// Bootstrap customization

.breadcrumb {
  font-size: 85%;
  font-weight: 500;
  text-align: center;
  .current-page-title {
    font-size: 150%;
  }
}
.navbar-brand {
  margin-right: 10px;
  text-transform: uppercase;
  font-weight: 600;
}

.navbar {
  margin-bottom: 10px;
  background-color: $header-background-color;
  box-shadow: 0px 0px 10px $service-table-shadow-color;
}

.navbar-header>a {
    text-decoration: none;
}
.navbar-nav>li>a {
    text-decoration: none;
}

.table {
  tr:last-child
  {
    border-bottom: 1px solid #ddd;
  }
}

// Other stuff

.page-nav-column {
  * {
    margin:0; padding: 0
  };
  a {
    color: $navbar-default-link-color;
    text-decoration: none;
  }
  a:hover {
    color: $navbar-default-link-hover-color;
  }
}

body {
  padding: 1%;
  padding-left: 2%;
  padding-right: 2%;
  font-family: $font-family;
  color:        $site-text-color;
  background-color: $site-background-color;
  font-size: 18px;
  position: relative;
}


h1,h2,h3,h4,h5,h6 {
  font-family: 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-weight: 800;
}

p {
  line-height: 1.5;
}

.fancy-list {
  ul {
    padding-left: 1%;
    list-style-type: none;
  }

  li:nth-child(odd) {
    background: $fancy-list-alternate-background-color;
  }
}

a {
  text-decoration: underline;
}


a.en, a.de {
  color: $lang-link-color;
  font-weight: bold;
  font-size: 100%;
}

a.en:hover, a.de:hover {
  color: $link-hover-color;
}

.psst {
  color: $psst-color;
  font-size: $psst-font-size;
}
