---
###
# note: will result in an all-in-one-file stylesheet e.g. style.css
#   in _config.yml add:
#     sass:
#       sass_dir: css
#       style:    expanded
---

@import 'settings';
@import 'header';
@import 'footer';
@import 'service-table';

body {
  padding: 1%;
  font-family: $font-family;
  color:        $site-text-color;
  background-color: $site-background-color;
  font-size: 18px;
  position: relative;
}

p {
  line-height: 1.5;
  margin: 30px 0;
}

ul {
  padding-left: 1%;
}

a {
  text-decoration: none;
  color: $link-color;
  -webkit-transition: font-size 0.3s ease, background-color 0.3s ease;
  -moz-transition: font-size 0.3s ease, background-color 0.3s ease;
  -o-transition: font-size 0.3s ease, background-color 0.3s ease;
  -ms-transition: font-size 0.3s ease, background-color 0.3s ease;
  transition: font-size 0.3s ease, background-color 0.3s ease;
}

a:hover {
  color: $link-hover-color;
}

a.en, a.de {
  color: $lang-link-color;
  font-weight: normal;
  font-size: 60%;
}

a.en:hover, a.de:hover {
  color: $link-hover-color;
}
