<div id="nav">
{% for item in site.nav[page.lang] %}
  {% if item.href_base == '' %}
    {% assign lang_postfix = '' %}
  {% else %}
    {% assign lang_postfix = '_' | append: page.lang %}
  {% endif %}
  {% assign full_href = '/' | append: item.href_base | append: lang_postfix %}
  <a href="{{ full_href | relative_url }}">{{ item.title }}</a>
  {% if forloop.last %}  {% else %} • {% endif %}
{% endfor %}

{% assign pages=site.pages | where:"ref", page.ref | sort: 'lang' %}
<span style="float: right;">
{% for page in pages %}
    <a href="{{ page.url }}" class="{{ page.lang }}">{{ page.lang }}</a>
{% endfor %}
</span>
</div>

<div id="header">
  <hr>
  <span class='big'>{{ site.title[page.lang] }}</span>
  <br>
  <span class='small'>{{ site.subtitle[page.lang] }}</span>
  <hr>
</div>

<h1 align="center">{{ page.title }}</h1>
