<div id="nav">
  |
{% for item in site.nav[page.lang] %}
  {% if item.href contains 'http' %}
     <a href="{{ item.href }}">{{ item.title }}</a>
  {% else %}
     <a href="{{ item.href | relative_url }}">{{ item.title }}</a>
  {% endif %}
  |
{% endfor %}

{% assign pages=site.pages | where:"ref", page.ref | sort: 'lang' %}
<span style="float: right;">
{% for page in pages %}
    <a href="{{ page.url }}" class="{{ page.lang }}">{{ page.lang }}</a>
{% endfor %}
</span>
</div>


<div id="header">
  <hr>
  <span class='big'>{{ site.title }}</span>
  <br>
  <span class='small'>{{ site.subtitle }}</span>
  <hr>
</div>
