{% assign prev_page=site.pages | where:"lang_ref", page.previous | where: "lang", page.lang | first %}
{% assign next_page=site.pages | where:"lang_ref", page.next | where: "lang", page.lang | first %}

<div class="cointainer-fluid">
  <div class="row">
    <div class="col-sm-12 page-nav-column">
        <ol class="breadcrumb">
          {% if prev_page %}
          <li>
            <i class="fa fa-caret-left" aria-hidden="false"></i>
            <a href="{{ prev_page.url | relative_url }}">
            {{ prev_page.title }}
            </a>
          </li>
          {% endif %}
          {% if next_page %}
          <li>
          <a href="{{ next_page.url | relative_url }}">
            {{ next_page.title }}
          </a>
          <i class="fa fa-caret-right" aria-hidden="false"></i>
          </li>
          {% endif %}
        </ol>
    </div>
  </div>
</div>
