<div class="service-table">
  {% for service in site.services[page.lang] %}
    <div class="service-table-cell">
      <h3>{{ service.name }}</h3>
    </div>
  {% endfor %}
  <div class="table-row">
    {% for service in site.services[page.lang] %}
    <div class="service-table-cell">
      <div id="service-sections-list">
        <ul>
        {% for section in service.sections %}
          {% assign full_href = '/services/'
          | append: service.id
          | append: "/" | append: section.href_base
          | append: '_' | append: page.lang %}
          <li><a href='{{ full_href | relative_url }}'>{{ section.name }}</a></li>
        {% endfor %}
        </ul>
      </div>
    </div>
    {% endfor %}
  </div>
</div>
